body { font-family: 'Poppins', sans-serif;
       margin: 0;
       padding: 0;}
.flexiable-container { display: flex;
          margin-bottom: 50px ;}
.top-banner { background-image: url(images/top-banner.png);
              background-repeat: no-repeat;}
h1 { font-size: 50px; }
.orange-color { color: orange;}
.half-width { width: 50%;
    padding-left: 2%;}
img { width: 80%;}
a { text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(red,tomato);
    border-radius: 5px;
    color: white;
    font-weight: 700;}
.dream-big-area { background-image: url(images/dream-bg.png);
                  background-repeat: no-repeat;
                  background-position: right;}
.Experience { background-image: url(images/exp-bg.png);
              background-repeat: no-repeat;}
.experience-box { width: 40%;
                  margin-left: 5%;
                margin-right: 5%;
                padding: 2%;
                box-shadow: 10px 10px 40px 5px gray;}
.experience-left { border-image: linear-gradient(red,tomato);
                   border-left: 7px solid;
                   border-image-slice: 1;}
.experience-right { 
                    border-image: linear-gradient(blue,cyan);
                    border-left: 7px solid;
                    border-image-slice: 1;}
footer { text-align: center;
        margin-top: 200px;}